In [1]:
import pandas as pd
import numpy as np
from Dataloader import *

In [2]:
loader = DataLoader()
dataframes = loader.load_parquets()

In [3]:
chp, inv_df, stnx_sales, stnx_items  = dataframes['chp'] , dataframes['inv_df'] , dataframes['stnx_sales'] , dataframes['stnx_items'] 
customer_df, industry_df, material_df, dt_df, log_df = dataframes['customer_df'] , dataframes['industry_df'] , dataframes['material_df'] , dataframes['dt_df'] , dataframes['log_df']

##### Stornext

In [4]:
stnx_sales.head(2)

# - `Day`: The calendar date on which the product was sold.  
# - `Barcode`: A unique identifier for the sold product.  
# - `Format_Name`: The retail format in which it was sold.  
# - `Sales_NIS`: The total revenue (in shekels) generated from sales of the product on that specific day.  
# - `Sales_Units`: The total number of product units sold on that specific day.  
# - `Price_Per_Unit`: The average price per unit for that product on that specific day, calculated as Sales_NIS divided by Sales_Units. 
#                     This is an aggregated metric reflecting the observed average selling price, which may vary due to promotions or price changes.

,Day,Barcode,Format_Name,Sales_NIS,Sales_Units,Price_Per_Unit
0,2025-01-19,3574661401140,רשתות ארציות דיסקאונט,17756.465251,1186.026025,14.971396
1,2025-02-02,3800093511523,שוק פרטי דיסקאונט,1400.159442,124.472222,11.248770

In [24]:
stnx_items.head(2)
# - `Barcode`: A unique identifier that links each product to its sales records.  
# - `Item_Name`: The official name or label of the product.  
# - `Category_Name`: The main product category (e.g., dairy, snacks, cleaning products).  
# - `Sub_Category_Name`: A more specific classification within the main category.  
# - `Brand_Name`: The commercial brand under which the product is marketed.  
# - `Sub_Brand_Name`: A secondary brand or product line, if applicable.  
# - `Supplier_Name`: The name of the company or distributor responsible for supplying the product.

,Barcode,Item_Name,Category_Name,Sub_Category_Name,Brand_Name,Sub_Brand_Name,Supplier_Name
0,7290000415338,יסמין קבב ביתי 500 ג,מוצרי בשר על האש,קבב,יסמין,יסמין,יסמין יצור ושיווק מוצרים עת-רן
1,7290003287420,"פילה סלמון מעושן נורבגי 100 גרם בד""ץ עדה חרדתית",דגים קפואים בואקום,דג סלמון בואקום,בלדי,בלדי,בלדי

##### Chp

In [6]:
chp.head(2)
# - `DATE`: The date of the price observation.  
# - `BARCODE`: A unique identifier for the product, linking it to descriptions in `stnx_items`.  
# - `CHAIN`: The name of the supermarket chain where the price was recorded.  
# - `AVG_PRICE`: The average base price of the product across all reporting stores within the chain.  
# - `AVG_SELLOUT_PRICE`: The average promotional price, if available. If null, it indicates no promotion.  
# - `SELLOUT_DESCRIPTION`: A Hebrew description of any active promotion, providing context for `AVG_SELLOUT_PRICE`.  
# - `NUMBER_OF_STORES`: The number of stores within the chain that reported carrying the product on that date.

,DATE,BARCODE,CHAIN,AVG_PRICE,AVG_SELLOUT_PRICE,SELLOUT_DESCRIPTION,NUMBER_OF_STORES
0,2024-12-22,4005808293469,סופר פארם,19.9,14.45,"קנה אחד קבל את השני ב- 9.00 ש""ח (מחיר ליחידה...",1
1,2024-12-22,4005808588640,כל בו חצי חינם,14.9,NaN,,8

##### Hebrew Calander

In [7]:
dt_df.head(2)
# - `DATE`: The Gregorian calendar date.    
# - 'HEBREW_DATE': The corresponding Hebrew calendar date, represented as a string.
# - 'HOLIDAY':  The name of the Jewish holiday on that date, if applicable. If no holiday occurs on the date, this field will be null.

        DATE       HEBREW_DATE HOLIDAY
0 2024-03-03  כ״ג אדר א׳ תשפ״ד    None
1 2024-03-04  כ״ד אדר א׳ תשפ״ד    None

##### Invoices

In [8]:
inv_df.head(2)
# - `DATE`: The date of the invoice.
# - `SALES_ORGANIZATION_CODE`The internal business unit code at Diplomat. Values include: '1000' - Israel, '5000' - Georgia, '8000' - South Africa, 'NZ00' - New Zealand.
# - `MATERIAL_CODE`: The internal identifier of the product (material) sold.
# - `INDUSTRY_CODE`:  The industry classification of the customer by Diplomat.
# - 'CUSTOMER_CODE':  The unique ID of the customer that received the goods.
# - 'Gross': Gross sales amount (before discounts and tax).
# - 'Net': Net sales amount (after discounts, before tax).
# - 'Net VAT':  Net sales amount including VAT.
# - 'Gross VAT':  Gross sales amount including VAT.
# - 'Units': Quantity of product units sold.

# - To connect this data to external market datasets (like chp or stnx), you must use a material-to-barcode mapping from the material_df table.

,DATE,SALES_ORGANIZATION_CODE,MATERIAL_CODE,INDUSTRY_CODE,CUSTOMER_CODE,Gross,Net,Net VAT,Gross VAT,Units
0,2024-10-01,5000,2568531,5032,11057044,12.0,12.0,14.0,14.0,1.0
1,2024-10-01,5000,2568531,5032,11057055,24.0,23.0,27.0,28.0,2.0

##### Materials

In [9]:
material_df.head(2)
# - `MATERIAL_NUMBER`: The internal identifier for a product (primary key used in inv_df).
# - `MATERIAL_EN`: Product name in English. 
# - `MATERIAL_HE`: Product name in Hebrew.
# - `MATERIAL_DIVISION`:  Division or product type (e.g., food, toiletries).
# - 'BRAND_HEB': Brand name in Hebrew.
# - 'BRAND_ENG':  Brand name in English.
# - 'SUB_BRAND_HEB': Sub-brand in Hebrew.
# - 'SUB_BRAND_ENG': Sub-brand in English.
# - 'CATEGORY_HEB': Product category in Hebrew.
# - 'CATEGORY_ENG':  Product category in English.
# - 'SUPPLIER_HEB': Supplier name in Hebrew.
# - 'SUPPLIER_ENG': Supplier name in English.
# - 'BARCODE_EA':  The barcode of a single unit of the item.
# - 'SALES_UNIT': The unit of sale (e.g., pack, bottle).
# - 'BOXING_SIZE': : Number of individual units included in a sales unit.

,MATERIAL_NUMBER,MATERIAL_EN,MATERIAL_HE,MATERIAL_DIVISION,BRAND_HEB,BRAND_ENG,SUB_BRAND_HEB,SUB_BRAND_ENG,CATEGORY_HEB,CATEGORY_ENG,BARCODE_EA,SALES_UNIT,BOXING_SIZE
0,81582598,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,None,NaN
1,81582625,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,None,NaN

##### Customers

In [10]:
customer_df.head(2)
# - 'CUSTOMER_CODE': The unique identifier of the customer (primary key).
# - 'CUSTOMER': The name of the customer or business entity.
# - 'CITY':  The city where the customer is located.
# - 'CUSTOMER_ADDRESS':   The full address of the customer.
# - 'CUST_LATITUDE': The geographical latitude coordinate of the customer's location.
# - 'CUST_LONGITUDE': The geographical longitude coordinate of the customer's location.

,CUSTOMER_CODE,CUSTOMER,CITY,CUSTOMER_ADDRESS,CUST_LATITUDE,CUST_LONGITUDE
0,1000,"דיפלומט מפיצים (1968) בע""מ",קרית שדה התעופה,חרמון 4,31.9869,34.9154
3,10000,הוד גיל,NA,NA,NA,NA